streamlit==1.29.0             # la última estable
whisper
google-generativeai
langchain==0.0.238            # versión compatible con InMemoryDocstore
langchain-community
numpy
audio-recorder-streamlit
python-dotenv
faiss-cpu}

